body {
    margin:0;
    padding:0;
}

.header {
    padding:15px;
    top:0;
    margin: 0;
    border:1px solid red;
}

.top-nav {

}

.nav a {
    font-size: 12px;
    color:#333;
    text-decoration: none;
    right: 0;
    margin-right: 15px;

}