* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}



/* Header Section */

.header {
    padding:10px;
    top:0;
    position: sticky;
    text-align: right;
}

.header .nav a {
    text-decoration: none;
    margin: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:#5a5a5a;
    letter-spacing: 1px;
}


.header .nav .nav-link:hover {
  text-decoration: underline;
}

.header .nav a .fa {
    font-size: 18px;
    position: relative;
}



/* Navigation Section */ 

.main-body {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;

}

.main-body .wrap {
    padding : 50px 100px;
    margin-top: 50px;
    align-items: center;
}

.logo {
    width: 100%;
    text-align: center;
}

.logo img {
    padding:10px;
    width: 40%;
}

.search {
    width:100%;
    display: flex;
}

.searchform {
    padding: 5px 15px;
    width:100%;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #aaa;

}

input[type=text]:focus {
    outline: none;
    box-shadow: 0 0 10px 0 #aaa;

}


.wrap .buttons {
    text-align: center;
    margin: 15px;
}

input[type=submit]{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 0em;
    color: #5f6368;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=submit]:hover {
    cursor: pointer;
    outline: none;
    border: 1px solid #aaa;
}


.wrap .Option {
    width: 100%;
}

.wrap .Option ul {
    display:flex;
    margin: 2px;
}

.wrap .Option ul li {
    list-style: none;
    margin: 10px;
}













/*  Footer Section */ 

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e4e4e4;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #e4e4e4;
}

.footer .top {
    padding: 10px 25px;
    color: #5f6368;
}

.bottom {
    display: flex;
    padding: 10px 25px;
    color: #5f6368;
    border-top: 1px solid #aaa;
}


.footer .bottom .nav-left a, .nav-right a {
    font-size: 12px;
    text-decoration: none;
    margin: 10px;
    color: #5f6368;
}

.footer .bottom .nav-left  {
    width: 100%;
  }

.footer .bottom .nav-right  {
  width: 100%;
  text-align: right;
}

